.chat-bar-collapsible {
    position: fixed;
    inset-block-end: 0;
    inset-inline-end: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    background-color: rgb(82, 151, 255);
    color: white;
    cursor: pointer;
    padding: 18px;
    inline-size: 350px;
    text-align: start;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-block-end: none;
}

.content {
    max-block-size: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    inline-size: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    block-size: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-block-size: 500px;
    inset-block-end: 0%;
    position: relative;
}

.chat-container {
    max-block-size: 500px;
    inline-size: 100%;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: inline-start;
    box-sizing: border-box;
    justify-content: space-between;
    inline-size: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    inline-size: 25%;
    float: inline-end;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    inline-size: 75%;
}

.input-box {
    float: inline-start;
    border: none;
    box-sizing: border-box;
    inline-size: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: end;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-end-end-radius: 2px;
    max-inline-size: 80%;
    margin-inline-end: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: start;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-start-end-radius: 2px;
    max-inline-size: 80%;
    margin-inline-start: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-inline-size:600px) {
    .full-chat-block {
        inline-size: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        inset-block-end: 0;
        inset-inline-end: 0;
        inline-size: 100%;
    }
    .collapsible {
        inline-size: 100%;
        border: 0px;
        border-block-start: 3px solid white;
        border-radius: 0px;
    }
}
