<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirTel Website</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
 
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
p{text-align: center;}
p2{text-align: center;}
h1{text-align: center;}
h2{text-align: center;}
</style>
</head>

<body background="https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=1380&t=st=1695878160~exp=1695878760~hmac=fd70283f3e49aa60ced4bc4c55fe09842ac93c030e49822eb454d324e441c627">
    
    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">Chat with us!
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                           <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                    onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                    onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
<img src="https://assets.airtel.in/static-assets/new-home/img/airtel-red.svg"
width="100"
height="100"/> <h1 style="font-family:Monospaced">WELCOME TO AIRTEL'S HOMEPAGE</h1>
<p style="font-family:verdana"><br><b>Bharti Airtel Limited is a leading telecommunication company globally. Headquartered in New Delhi, we are the most trusted provider of ICT services with a global network across the USA, Europe, Africa, Middle East, Asia-Pacific, India, and SAARC regions. Airtel Telecommunications ranks amongst the top 3 mobile service providers around the world (as per subscribers)

Through the diverse product portfolio and strategically located submarine cables and satellite network running across 365,000+ RKMs in 50 countries and 5 continents, we are pushing the boundaries in digital service delivery with a key focus on enhanced end-user experience, round-the-clock infrastructure availability, and superior service quality.<b></p><br><br>

<h2 style="font-family:Monospaced"><b>AIRTEL 5G IS HERE</b><h2>
<p style="font-family:Helvetica"><i>Airtel, a trailblazer in the telecommunications industry, has unleashed the power of 5G technology to redefine the way we connect, communicate, and experience the digital world. Airtel's 5G network represents the next frontier in wireless technology, promising lightning-fast speeds, unparalleled reliability, and a seamless digital experience like never before. As we delve deeper into this brief, you'll discover how Airtel's 5G network is poised to revolutionize our lives, enabling faster downloads, smoother streaming, and unlocking the potential for innovations yet to be imagined. Welcome to the future of connectivity with Airtel 5G.</i></p><br>

<h2>AIRTEL'S ALL NEW FIBER INETRNET CONNECTION</h2>
<p><i>Airtel Fiber, a cutting-edge broadband service offered by Airtel, is set to transform the way we experience the internet. With its lightning-fast speeds, robust reliability, and unmatched performance, Airtel Fiber is reshaping the landscape of high-speed internet connectivity.
This advanced fiber-optic network seamlessly brings the digital world to your doorstep, whether it's for work, entertainment, or staying connected with loved ones. With Airtel Fiber, you can enjoy lag-free online gaming, buffer-free 4K streaming, and lightning-quick downloads, making it the ideal choice for modern households and businesses.
What sets Airtel Fiber apart is not just its speed, but also its commitment to customer satisfaction. Airtel offers exceptional customer support, ensuring that you have a smooth and trouble-free internet experience.
In summary, Airtel Fiber is more than just high-speed internet; it's a gateway to a world of endless possibilities, making it the preferred choice for those who demand the best in internet connectivity. Welcome to a new era of fast, reliable, and seamless online experiences with Airtel Fiber.</i></p>

<font size="50%"><a href="https://www.airtel.in/">For more info click here</a></font>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>

</html>
